audio#start(preload='auto')
  source(src='assets/audio/lets-play.mp3')
audio#fffQuestion(preload='auto')
  source(src='assets/audio/fastest-finger-intro.mp3')
audio#fffStart(preload='auto')
  source(src='assets/audio/fastest-finger-start.mp3')
audio#fffAnswer1(preload='auto')
  source(src='assets/audio/fastest-finger-c.mp3')
audio#fffAnswer2(preload='auto')
  source(src='assets/audio/fastest-finger-c7.mp3')
audio#fffAnswer3(preload='auto')
  source(src='assets/audio/fastest-finger-g.mp3')
audio#fffAnswer4(preload='auto')
  source(src='assets/audio/fastest-finger-g7.mp3')
audio#results(preload='auto')
  source(src='assets/audio/results.mp3')
audio#mainTheme(preload='auto')
  source(src='assets/audio/main-theme.mp3')
audio#backgroundFff(preload='auto')
  source(src='assets/audio/background-fff.mp3')
audio#scoreboard(preload='auto')
  source(src='assets/audio/commerical-break.mp3')
  