div.initial.container(class=screen === screens.initial ? "" : "hidden")
  img.millionaire-logo(src="/assets/images/millionaire-logo.png" alt="Image Title")
  p.audience-info="Waiting for host..."
  div.centre-line()
    button.button.ribbon-outset.border(type='submit')
      p='Fastest finger first'
